<section class="theards full" >
  <h2 class="title-theards title-section inter widthfit">CHỦ ĐỀ HOT
    <span class="border-bottom-title"></span>
  </h2>

  <div class="scroll-theards">
      <div class="container-theards">
        <a class="item-theard" routerLink="/danh-muc/phap-luat" >
          <img alt="Apple Let Loose" src="../../../../../assets/phap_luat.webp" width="200" height="200" decoding="async" data-nimg="1" class="w-full object-cover" style="color: transparent;">
          <span class="shadow">
            <h3 class="inter">#<!-- -->Pháp Luật</h3>
          </span>
        </a>

        <a class="item-theard" routerLink="/danh-muc/bat-dong-san" >
          <img alt="Apple Let Loose" src="../../../../../assets/bds.jpg" width="200" height="200" decoding="async" data-nimg="1" class="w-full object-cover" style="color: transparent;">
          <span class="shadow">
            <h3 class="inter">#<!-- -->Bất Động Sản</h3>
          </span>
        </a>

        <a class="item-theard" routerLink="/danh-muc/quy-dinh-moi" >
          <img alt="Apple Let Loose" src="../../../../../assets/quydinhmoi.png" width="200" height="200" decoding="async" data-nimg="1" class="w-full object-cover" style="color: transparent;">
          <span class="shadow">
            <h3 class="inter">#<!-- -->Quy Định Mới</h3>
          </span>
        </a>

        <a class="item-theard" routerLink="/danh-muc/di-tru-nuoc-uc" >
          <img alt="Apple Let Loose" src="../../../../../assets/di-tru-1.jpg" width="200" height="200" decoding="async" data-nimg="1" class="w-full object-cover" style="color: transparent;">
          <span class="shadow">
            <h3 class="inter">#<!-- -->Di Trú Úc</h3>
          </span>
        </a>
      </div>

  </div>
</section>
