<footer>
    <div class="cut">
      <div class="container-footer">

      </div>
    </div>
    <div class="container-footer">
          <div class="grid-layout-footer">
            <div class="w-full">
              <a class="relative mb-[25px] block max-h-[60px] w-full max-w-[190px] shrink-0" href="/sforum">
                <img alt="logo header" loading="lazy" src="../../../../assets/dr_to_logo.png" style="color:transparent;object-fit:contain ; width: 150px;"></a>
                <p class="inter" style="margin-top: 0.5rem; margin-bottom: 0;">Trang Tin tức DrTo.vn</p>
                <span></span>
                <div class="flex gap-[15px]">
                </div>
              </div>


              <div class="w-full">
                    <a class="d-block inter">Nội quy tin tức</a>
                    <a class="d-block inter">Thỏa thuận và sử dụng dịch vụ</a>
                    <a class="d-block inter">Góp ý</a>
                    <a class="d-block inter">Liên hệ quảng cáo</a>
                    <a class="d-block inter">Bảo vệ người dùng</a>
                    <a class="d-block inter">Các chính sách khác</a>
                </div>
          </div>


    </div>


    <div class="infos">
      <ul class="main">
        <li class="item inter">Chịu trách nhiệm nội dung: Tiến sĩ Pháp Sư Nguyễn Thành Tô</li>
        <li class="item inter">© Tổ chức giáo dục đào tạo nghề Châu Á Thái Bình Dương © 2023. All Rights Reserved.</li>
        <li class="item inter">Địa chỉ: Số 4 Trần Quang Diệu, Phường 13, Quận 3, Thành Phố Hồ Chí Minh</li>
        <li class="item inter">Số điện thoại: 0813060606</li>
        <li class="item inter">Bản quyền thuộc về: Tiến sĩ Pháp Sư Nguyễn Thành Tô</li>
        <li class="item inter">Không được sao chép khi chưa được chấp thuận bằng văn bản.</li>
      </ul>
    </div>
</footer>
