<section class="mySwiperitems overflow-hidden" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="swiper-wrapper">
    <div class="swiper-slide" >
      <div class="full overflow-hidden">
        <!-- pháp luật -->
        <app-onecategory [id]="'6641ac5341ce33578859a5df'"></app-onecategory>
      </div>
    </div>
    <div class="swiper-slide" >
      <div class="full overflow-hidden">
        <!-- di trú úc -->
        <app-onecategory [id]="'665193ed694d38de5e698420'"></app-onecategory>
      </div>
  </div>
  <div class="swiper-slide" >
    <div class="full overflow-hidden">
      <!-- bất động sản  -->
      <app-onecategory [id]="'6641e7e0128df9d823ce9d61'"></app-onecategory>
    </div>
</div>
  </div>
</section>
